<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIcy_HFxL00Aou04MJI-ZzymlnosVk1qs</string>
	<key>GCM_SENDER_ID</key>
	<string>219230325362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>huylehoang.CVJDMatcher</string>
	<key>PROJECT_ID</key>
	<string>cvjdmatcher</string>
	<key>STORAGE_BUCKET</key>
	<string>cvjdmatcher.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219230325362:ios:363f1a8b8dbede4a1a90eb</string>
</dict>
</plist>